@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

:root {
    --body-backg-color: rgb(34, 40, 49);
    --body-color: rgb(238, 238, 238);

    --a-color: rgb(0, 122, 204);
    --a-color-hover: rgb(0, 71, 102);

    --h2-hover: rgb(225, 241, 253);

    --apptitle-color: rgb(215, 234, 246);
    --apptitle-border: rgb(116, 155, 174);

    --shadow: rgba(39, 56, 77, 0.4);
    --shadow-deep: rgb(51, 51, 51);

    --appmain-color: rgb(118, 171, 174);
    --appmain-color-hover: rgb(57, 94, 96);

    --apptool-backg: rgb(208, 228, 237);
    --apptool-border: rgb(0, 122, 204);
    --apptool-backg-hover: rgb(138, 177, 198);

    --form-group-backg: rgb(242, 248, 254);
    --form-group-border: rgb(144, 191, 238);

    --focus-input-border: rgba(0, 122, 204, 0.6);

    --danger-color: rgb(222, 49, 49);

    --badge-color: rgb(215, 234, 246);
    --badge-backg: rgb(118, 171, 174);

    --appNote-backg: rgb(236, 247, 252);
    --appNote-border: rgb(128, 134, 151);
    --appNoteBox-hover: rgb(164, 197, 220);

    --code-backg: rgb(199, 225, 255);
    --code-border: rgb(200, 209, 217);
    --form-Placeholder-color: rgb(182, 182, 182);
}



/* *********************** */
/* --  Elements Rules  --  */
/* *********************** */

body {
    font-family: "Exo 2", sans-serif;
    font-size: 1.1em;
    background-color: var(--body-backg-color);
    color: var(--body-color)
}

a {
    color: var(--a-color);
    text-decoration: none;
}

a:hover {
    color: var(--a-color-hover);
}

h1 {
    color: var(--appmain-color);
    padding: 0.3em 0;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 0;
}

h2 {
    padding: 5px;
}

code {
    display: block;
    font-size: 1.1rem;
    color: var(--body-color);
    background-color: var(--code-backg);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--code-border);
    border-radius: 5px;
}

input:invalid {
    border: 2px dashed var(--danger-color);
}

small {
    font-size: 0.7rem;
    color: var(--appmain-color-hover);
}

::placeholder {
    color: var(--form-Placeholder-color) !important;
}


/* *********************** */
/* -- Application Rules -- */
/* *********************** */
.btn-modify{
    color: var(--appmain-color-hover);
    background-color: var(--appNote-backg);
    border: 1px solid var(--appmain-color-hover);
    padding: 0.3em 1em;
    font-size: medium;
}

.btn-modify:hover{
    color: var(--body-color);
    background-color: var(--appmain-color-hover);
}

.btn-modify-dark{
    color: var(--appmain-color);
    background-color: var(--body-backg-color);
    border: 1px solid var(--appmain-color);
    padding: 0.3em 1em;
    font-size: medium;
}

.btn-modify-dark:hover{
    color: var(--body-color);
    background-color:var(--appmain-color);
}

.btn-delete{
    color: var(--danger-color);
    background-color: var(--appNote-backg);
    border: 1px solid var(--danger-color);
    padding: 0.3em 1em;
    font-size: medium;
}

.btn-delete:hover{
    color: var(--body-color);
    background-color: var(--danger-color);
}

.btn-delete-dark{
    color: var(--danger-color);
    background-color: var(--body-backg-color);
    border: 1px solid var(--danger-color);
    padding: 0.3em 1em;
    font-size: medium;
}

.btn-delete-dark:hover{
    color: var(--body-color);
    background-color: var(--danger-color);
}

.alert-warning{
    background-color: var(--badge-color);
    color: var(--appmain-color-hover);
    border: 1px solid var(--appmain-color-hover);
}

.navbar{
    margin-bottom: 2em;
}

.navbar a {
    color: var(--body-color);
    padding: 0.3em 1.8em;
    background-color: var(--appmain-color-hover);
    font-weight: 500;
    margin: 0 0.3em;
    border-radius: 5px;
}

.navbar a:hover {
    color: var(--body-color);
    background-color: var(--appmain-color);
}

.appTitle {
    color: var(--apptitle-color);
    margin-top: 20px;
    padding: 20px;
    font-size: 5rem;
    font-weight: 900;
    border: 1px solid var(--apptitle-border);
    border-radius: 7px;
    box-shadow: 10px 5px 5px var(--shadow);
}

.appFooter {
    margin: 25px 0 25px 0;
}

.appMainColor {
    color: var(--appmain-color);
}

.appLabel {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--appmain-color);
}

.appPageTitle {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--appmain-color);
}

.appNoteBox {
    display: inline-block;
    margin: 15px;
}

.tuileNote {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--appmain-color);
    background-color: var(--appNote-backg);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--appNote-border);
    border-radius: 5px;
}

.tuileNote:hover,
.tuileNote-mini:hover {
    background-color: var(--appNoteBox-hover);
    color: var(--appmain-color-hover);
}

.tuileNote-mini {
    font-size: 1.0rem;
    color: var(--appmain-color);
    background-color: var(--appNote-backg);
    margin-bottom: 10px;
    padding: 0;
    border: 1px solid var(--appNote-border);
    border-radius: 5px;
}

.appViewNote {
    font-size: 1.1rem;
    color: var(--appmain-color);
    background-color: var(--appNote-backg);
    padding: 10px;
    border: 1px solid var(--appNote-border);
    border-radius: 5px;
}

.badge {
    background-color: var(--badge-backg) !important;
    color: var(--badge-color) !important;
}


.btn-note-delete {
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
}

.section_note {
    background-image: url("../img/section.png");
}

.infoFooter {
    font-size: 0.9rem;
    color: var(--body-color);
}

.termSearch {
    color: var(--danger-color);
}



/* *********************** */
/* --    Forms  Rules   -- */
/* *********************** */

.input_wrapper {
    position: relative;
    display: inline-block;
}

.input_wrapper input {
    padding-right: 40px;
}

.input_wrapper button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.label_sort_note {
    font-size: 0.8rem;
}

.select_sort_note,
.select_sort_order,
.input_search_note {
    font-size: 0.8rem;
    background-color: var(--appNote-backg);
    border: 1px solid var(--appNote-border);
    border-radius: 5px;
}

.input_search_note:focus {
    border-color: var(--focus-input-border);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--focus-input-border);
    outline: 0 none;
}


.btn_submit_search {
    font-size: 0.8rem;
    color: var(--appmain-color);
    padding: 0.25rem 0.5rem;
}


.form-select:focus,
.form-control:focus,
input[type=checkbox]:focus {
    border-color: var(--focus-input-border) !important;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--focus-input-border);
    outline: 0 none;
}

.form-check-input:checked {
    background-color: var(--focus-input-border) !important;
    border-color: var(--focus-input-border) !important;
}

.form-group {
    border-radius: 5px;
    background-color: var(--form-group-backg);
    padding: 5px;
    margin: 9px 0;
    border: 1px solid var(--form-group-border);
    box-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
}

.form-group label{
    color: var(--appmain-color-hover);
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--appmain-color);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: var(--body-color);
    line-height: 0;
}

.back-to-top:hover {
    background-color: var(--appmain-color-hover);
    color: var(--body-color);
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}